// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/icons";

.app-information-popup {
    position: fixed;
    bottom:10%;
    right: 22Px;
    width: 59px;
    height: 38px;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px #D0D9DB;
    border-radius: 23.5px;
    ion-icon {
        color: #879DAF;
        background: none;

        &::before {
            font-size: 20px;
        }
    }
}

.hidden{
    display: none;
}

h1 {
    line-height: 35px;
    font-size: 25px;
    color: #1D2027;
}

.light-text {
    line-height: normal;
    font-size: 13px;
    text-align: center;
    color: #9EA4AF;
}

// Center ion title for all device
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

// Global navbar
.tabs-ios .tabbar, .tabbar {
    bottom: 0px;
    border-top: solid 3px #243B6B;

    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -4px 3px rgba(36, 59, 107, 0.41);
    a[aria-selected=true] {
        .icon, .tab-button-text {
            color: #65CDBC !important;
        }
    }

    a[aria-selected=false] {
        .icon, .tab-button-text {
            color: #879DAF !important;
        }
    }

    a[aria-selected=true], a[aria-selected=false] {
        .icon  {
            &::before {
                width: 20px;
                height: 20px;
            }
        }
        &:nth-child(3) {
            max-width: 56px;
            min-height: 56px;
            border-top-left-radius: 90px;
            border-top-right-radius: 90px;
            border-bottom-right-radius: 90px;
            border-bottom-left-radius: 90px;
            bottom: 25px;
            background-color: rgb(36, 59, 107);
            border-top-width: 3px;
            border-top-style: solid;
            border-top-color: rgb(36, 59, 107);
            -webkit-box-shadow: rgba(50, 50, 50, 0.74902) 0px -4px 3px;
            box-shadow: rgba(36, 59, 107, 0.407843) 0px -4px 3px;

            .icon {
                position: relative;
                top: -3px;
                color: white !important;
            }
        }
    }
}

//Alert information
.alert-information {
    ion-backdrop {
        opacity: 0.1 !important;
    }
    .alert-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) !important;
        bottom: 100Px;
        border-radius: 11px;
        min-width: 95%;
        .alert-message {
            padding: 0 24px !important;
            color: #243B6B;
        }
    }

    .alert-head, .alert-button-group {
        display: none;
    }
}