page-generate-password {
    ion-header {
        &::after {
            background: none !important;
            background-color: #FFFFFF;
        }
    }
    ion-navbar.toolbar {
        background: none;
        border: none;

        .toolbar-background {
            background: none !important;
            border: none !important;
        }
    }

    .pin-code {
        display: inline-block;
        button {
            background-color: transparent;
            width: 75px;
            height: 75px;
            border: 2px rgba(166, 177, 198, 0.524853) solid;
            border-radius: 50px;
            margin: 5px;
        }
    }

    .header-content {
        font-family: Helvetica Neue;

        h1 {
            line-height: 35px;
            font-size: 33px;
            text-align: center;
            letter-spacing: 0.00133333em;
        }

        h2 {
            font-size: 14px;
            line-height: 17px;
            text-align: Center;
        }
        .code-preview {
            div {
                display: inline-block;
            }
        }
    }

    .code-preview {
        width: 75%;
        margin: auto;
        height: 50px;
        background: rgba(255, 255, 255, 0.98);
        border: 2px solid rgba(166, 177, 198, 0.524853);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 10px;

        div {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px
        }
    }
}
